<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>results</title>
</head>
<body>
    <nav>

    </nav>

    <main>

        <h1>Covid-19 statistics</h1>
        <div class="parent">
            <%data.forEach(element =>{%>

                <div class="subparent">
                    <h2><%= element.date%></h2>
                    <p> <%= element.cases%></p>

                </div>

           <%});%>
           

        </div>

    </main>
    <footer>

    </footer>
</body>
</html>